 body {
     background-color: antiquewhite;
 }

.header-table {
    background-color: darkgray;
    width: 100%;
    height: 10%;
}
.header-table td {
    border: 1px solid black;
    color: #007bff;
    text-align: center;
}
.header-table td a {
    text-decoration: none;
    color: black;
    top: 100px;
}
.footer-table {
    background-color: darkgray;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}
.footer-table td {
    border: 1px solid black;
    color: #007bff;
    text-align: center;
}
.footer-table td a {
    text-decoration: none;
    color: black;
}
 .error {
     color: #ff0000;
     font-size: small;
     text-align: right;
 }
 .errorblock{
     color: #000;
     background-color: #ffEEEE;
     border: 3px solid #ff0000;
     padding:8px;
     margin:16px;
 }
 .vertical-center {
     display: flex;
     align-items: center;
     min-height: 100vh;
 }